:host {
  width: 100%;
}

.label {
  color: var(--body-text-body-color);
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
}

.input-error {
  border-color: #dc2626;
  box-shadow: 0 0 0 1px #dc2626;

  &:focus {
    border-color: #dc2626 !important;
    box-shadow: 0 0 0 1px #dc2626 !important;
  }
}

.e-input {
  height: 30px !important;
  font-size: 20px;
  border-radius: 0 3.2px 3.2px 0;
  margin-top: 0 !important;
  padding: 0 8px !important;

  &:focus {
    border-radius: 0 3.2px 3.2px 0 !important;
    box-shadow: none !important;
  }
}

.fz-20 {
  font-size: 20px !important;
}

.h-38 {
  height: 38px !important;
}

.min-h-38 {
  min-height: 38px !important;
}


.input-with-https-link {
  display: flex;
  align-items: center;

  .https-link {
    height: 30px;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 3.2px 0 0 3.2px;
    border: 1px solid var(--gray-400);
    background: var(--gray-200);
  }

  input {
    font-size: 16px;
  }

}
