<p-toolbar styleClass="mb-6">
	<p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()"/>
</p-toolbar>


<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Create Product" [modal]="true">
	<ng-template #content>
		<div class="flex flex-col gap-6" [formGroup]="productGroup">
			<app-file-upload
					[control]="productGroup.get('imageUrl')"
			></app-file-upload>
			<div>
				<label for="name" class="block font-bold mb-3">Name</label>
				<input type="text" pInputText id="name" placeholder="Name" formControlName="name" required fluid/>
				@if (productGroup.controls['name'].invalid && !productGroup.controls['name'].untouched) {
					<small class="text-red-500">Name is required.</small>
				}
			</div>
			<div>
				<label for="category" class="block font-bold mb-3">Category</label>
				<div>
					<p-select
							id="category"
							formControlName="category"
							[options]="categories"
							optionLabel="name"
							optionValue="name"
							placeholder="Select a Category"
							class="w-full"/>
				</div>
				@if (productGroup.controls['category'].invalid && !productGroup.controls['category'].untouched) {
					<small class="text-red-500">Category is required.</small>
				}
			</div>
			<div>
				<label for="description" class="block font-bold mb-3">Description</label>
				<textarea
						id="description"
						pTextarea
						formControlName="description"
						placeholder="Description"
						rows="3"
						cols="20"
						fluid
				></textarea>
			</div>
		</div>
	</ng-template>

	<ng-template #footer>
		<p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()"/>
		<p-button label="Save" icon="pi pi-check" (click)="saveProduct()"/>
	</ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }"></p-confirmdialog>
@if (categories) {
	<p-tabs [value]="0" scrollable>
		<p-tablist>
			@for (tab of categories; track tab; let i = $index) {
				<p-tab [value]="i">
					{{ tab.name }}
				</p-tab>
			}
		</p-tablist>
		<p-tabpanels>
			@for (tab of categories; track tab; let i = $index) {
				<p-tabpanel [value]="i">
					<div class="py-6">
						<app-table
								[data]="getProductList(tab.name)"
								[columns]="cols"
								[paginator]="true"
								[actionColumn]="actionColumn"
								[allowCheckbox]="true"
								[allowReorder]="true"
						></app-table>

						<ng-template #actionColumn let-dataItem="dataItem">
							<div class="flex align-items-center justify-content-center gap-2">
								<p-button
										icon="pi pi-pencil"
										class="mr-2"
										[rounded]="true"
										[outlined]="true"
										(click)="editProduct(dataItem)"
								/>
								<p-button
										icon="pi pi-trash"
										severity="danger"
										[rounded]="true"
										[outlined]="true"
										(click)="deleteProduct(dataItem)"
								/>
							</div>
						</ng-template>
					</div>
				</p-tabpanel>
			}
		</p-tabpanels>
	</p-tabs>
}
@else {
<div>Product not found</div>
}
