<section class="bg-white py-20 dark:bg-dark">
	<div class="container">
		<div class="break-inside-avoid gap-8 md:columns-2 lg:columns-3">
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/pic01.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/logo-black.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/no-image.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/pic03.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/pic06.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/pic05.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/pic02.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/pic04.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
			<div class="mb-8 overflow-hidden rounded-xl">
				<img
						src="./assets/images/pic03.png"
						alt="gallery image"
						class="w-full object-cover object-center"
				/>
			</div>
		</div>
	</div>
</section>
