<div class="card flex justify-center">
	<div *ngIf="images && images.length > 0" class="grid grid-cols-12 gap-4" style="max-width: 800px;">
		<div *ngFor="let image of images; let index = index" class="col-span-4">
			<img [src]="image.imageUrl" alt="" style="cursor: pointer" (click)="imageClick(index)" />
		</div>
	</div>
	<p-galleria
			[(visible)]="displayCustom"
			[value]="images"
			[(activeIndex)]="activeIndex"
			[responsiveOptions]="responsiveOptions"
			[containerStyle]="{ 'max-width': '850px' }"
			[numVisible]="7"
			[circular]="true"
			[fullScreen]="true"
			[showItemNavigators]="true"
			[showThumbnails]="false"
	>
		<ng-template #item let-item>
			<img [src]="item.imageUrl" style="width: 100%; display: block;" alt=""/>
		</ng-template>
	</p-galleria>
</div>
